body{
  background-color: #f3f6ff71;
  font-family:Palatino,serif;
}


/*start nav*/
.head{
background-color: #fe3f40;
}
.head img{
border-radius: 50%;
width: 6%;
height: 6%;
margin-right: 20px;
}
a{
text-decoration: none;
color:black;
}


/*end nav*/

